{% macro wpkey(key) %}
{{ key }}
{% endmacro %}


version: "2"


networks:
  proxy_net:
    external:
      name: proxy_net

volumes:
  {{ DB_VOLUME }}:
    external: True
  {{ WP_VOLUME }}:
    external: True

services:
  db:
    image: mariadb:latest
    networks:
      - proxy_net
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD={{ database_password }}
    volumes:
     - {{ DB_VOLUME }}:/var/lib/mysql

  wordpress:
    restart: always
    image: wordpress
    networks:
      - proxy_net
    environment:
     WORDPRESS_DB_PASSWORD: {{ database_password }}
     VIRTUAL_HOST: {{ wordpress_domain_name }}
{% if SSL == True %}
     LETSENCRYPT_HOST: {{ wordpress_letsencrypt_domain_name }}
     LETSENCRYPT_EMAIL: {{ wordpress_letsencrypt_mail }}
     LETSENCRYPT_TEST: "{{ wordpress_letsencrypt_testmode }}"
{% endif %}
    volumes:
     - {{ WP_VOLUME }}:/var/www/html
    links:
     - db:mysql
